<!DOCTYPE html>{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>ПрофТестиум</title>

</head>

<body>

    <div class="reg">
        {% block content %}
            <h1>Вход</h1>

            <form method="POST">{% csrf_token %}
                {{ form }}
                <button class="dropbtn" type="submit" size="40">Отправить данные</button>
            </form>
        {% endblock content %}
    </div>
</body>
</html>