<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>tariffs</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1> <b style="font-family: Bahnschrift; color: #744f08;">&nbsp;&nbsp;
          Тарфиные планы</b></h1>
    </div>
    <ul>
      <li>
        <h3>Основной план 1.</h3>
      </li>
      <ul>
        <li>
          <h3>Для малого и мреднего бизнеа 1.1</h3>
        </li>
        <li>
          <h3>Для образовательных учреждений 1.2</h3>
        </li>
      </ul>
      <li>
        <h3>Бесплатный план 2.</h3>
      </li>
      <li>
        <h3>Корпоративный план 3.</h3>
      </li>
    </ul>
    <p><br>
    </p>
    <h2 style=" text-align: center;">План для малого и мреднего бизнеа 1.1</h2>
    <table style="width: 1282px; height: 79px;" border="1">
      <tbody>
        <tr>
          <td>Возможности</td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td style="width: 639.283px;">Поддержка</td>
          <td style="width: 628.217px;"><br>
          </td>
        </tr>
        <tr>
          <td>Стоймость</td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
    <h2 style=" text-align: center;">Для образовательных учреждений 1.2</h2>
    <table border="1">
      <tbody>
        <tr>
          <td>Возможности<br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td style="width: 639.283px;">Поддержка<br>
          </td>
          <td style="width: 628.217px;"><br>
          </td>
        </tr>
        <tr>
          <td>Стоймость<br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 style=" text-align: center;"></h2>
    <h2 style=" text-align: center;">Бесплатный план 2.</h2>
    <table border="1">
      <tbody>
        <tr>
          <td>Возможности<br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td style="width: 639.283px;">Поддержка<br>
          </td>
          <td style="width: 628.217px;"><br>
          </td>
        </tr>
        <tr>
          <td>Стоймость<br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <h2 style=" text-align: center;">Корпоративный план 3.</h2>
    <table border="1">
      <tbody>
        <tr>
          <td>Возможности<br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td style="width: 639.283px;">Поддержка<br>
          </td>
          <td style="width: 628.217px;"><br>
          </td>
        </tr>
        <tr>
          <td>Стоймость<br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <h3></h3>
    <p></p>
  </body>
</html>
